<table>
    <thead>
        <tr>
            <th>名前</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        <% @permits.each do |permit| %>
            <tr>
                <td><%= link_to user_path(permit.user.id) %></td>
                <td>
                    <%= link_to "加入許可", group_group_users_path(@group.id, permit_id: permit.id), method: :post %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>