<div class="container">
	<div class="row" style="height: 90px;">
		<div class="col">
			<h5 style="line-height: 90px;"><%= @user.handle %>さんをフォローしている人</h5>
		</div>
	</div>
	
	<% if @users.exists? %>
		<div class="row">
			<%= render "public/users/index", users: @users %>
		</div>
	<% else %>
		<div class="row">
			<div class="col">
				<p>フォローされているユーザーは存在しません</p>
			</div>
		</div>
	<% end %>
</div>
