<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>会員登録</h2>
        </div>
        <div class="col-12">
            <%= link_to "登録する", new_user_registration_path %>
        </div>
        <div class="col-12">
            <p>ログインする</p>
        </div>
        <div class="col-12">
            <%= link_to "ログインする", new_user_session_path %>
        </div>
    </div>
</div>