<div class="container text-center">
    <div class="row">
        <div class="col-11">
            <h2>共有カレンダー</h2>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-12" style="height: 80px;">
            <h5 style="line-height: 80px;">ユーザー登録してない方はこちらから</h5>
        </div>
        <div class="col-12" style="height: 70px;">
            <p style="line-height: 70px;"><%= link_to "登録する", new_user_registration_path, class: "btn btn-outline-success" %></p>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-12" style="line-height: 80px;">
            <h5 style="line-height: 80px;">アカウントをお持ちの方はこちらから</h5>
        </div>
        <div class="col-12" style="line-height: 80px;">
            <p style="line-height: 80px;"><%= link_to "ログインする", new_user_session_path, class: "btn btn-outline-success" %></p>
        </div>
    </div>
</div>