<% users.each do |user| %>
	<div class="col-3">
		<%= image_tag user.profile_image, size: "40x40" %>
	</div>
	<div class="col-3">
		<%= link_to admin_user_path(user) do %>
			<%= user.handle %>
		<% end %>
	</div>
<% end %>