<div class="container">
	<div class="row">
		<div class="col">
			<h2><%= @user.name %>さんをフォローしている人</h2>
		</div>
	</div>
	
	<% if @users.exists? %>
		<div class="row">
			<%= render "admin/users/index", users: @users %>
		</div>
	<% else %>
		<div class="row">
			<div class="col">
				<p>フォローされているユーザーは存在しません</p>
			</div>
		</div>
	<% end %>
</div>